h3 Buscar torrents 
.ink-row
  form(action='/search/torrents',method='post').ink-form.inline.ink-l100
    fieldset.ink-row
      input(type = 'text', name = 'query').ink-l60
      input(type = 'submit', value ='Buscar').ink-button.ink-l20
#list

