.ink-navigation
  ul.menu.black.horizontal
    li
      a.brand(href='/') Torrente
    li
      a(href='/search') Buscar
    li 
      span.glyphicon.pull-right
        .navbar-text.pull-right.connection