!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Torrente
    != SocketStream
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='http://css.ink.sapo.pt/v1/css/ink.css')
    script(type='text/javascript', src='http://js.sapo.pt/Bundles/Ink-v1.js')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')
  body
    #navigation
    .ink-container
      .ink-row
        #sidebar.panel.ink-l20
        #content.panel.ink-l80
    //footer
    //  p © Nostromo 2012
    //  p Running on node with SocketStream, Jade and Stylus